    html, body {
      height: 100%;
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
    }

    #layout1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      border: 1px solid #ccc;
      flex: 1;
    }

    #header1 {
      background-color: #6a5acd;
      color: white;
      padding: 20px;
      text-align: center;
      position: sticky;
    }

    #menu1 {
      background-color: #f08080;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      color: white;
    }

    #content-wrapper1 {
      display: flex;
      flex-grow: 1;
    }

    #left-col1 {
      background-color: #ffd700;
      flex-basis: 25%;
      padding: 15px;
      box-sizing: border-box;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center; /* Centraliza verticalmente */
      display: flex;
      flex-direction: column;
    }

    #center-col1 {
      background-color: #90ee90;
      flex-basis: 50%;
      padding: 15px;
      box-sizing: border-box;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center; /* Centraliza verticalmente */
      display: flex;
      flex-direction: column;
    }

    #right-col1 {
      background-color: #ffa07a;
      flex-basis: 25%;
      padding: 15px;
      box-sizing: border-box;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center; /* Centraliza verticalmente */
      display: flex;
      flex-direction: column;
    }

    #footer1 {
      background-color: #87ceeb;
      padding: 15px;
      text-align: center;
      color: white;
    }
